

.list {
    background-color: grey;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 18%;
    height: 100%;
}

.room {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 25%;
    height: 100%;
}

.messages {
	float: right;
	width: 50%;
	height: 75%;
}

.form-inline {
    position:fixed;
	bottom:0;
        min-width: 0;
    width: auto;
    display: inline;
}